<div class="row">
  <div class="col-xs-offset-9">
    <button class="btn btn-default" ng-click="group.list()">List</button>
    <button class="btn btn-default" ui-sref="projects">Projects</button>
    <button class="btn btn-default" data-toggle="modal" data-target="#addForm">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

<div ng-repeat="gr in group.groups">
  <div class="row well">
    <div class="col-xs-2 content">
      <button class="btn btn-error" ng-click="group.remove()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-default" ng-click="group.toggle()">
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
    </div>
    <div class="col-xs-2 content">{{gr.name}}</div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="addFormLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New group</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" ng-model="group.gr.name" placeholder="Name" required>
          </div>

          <div class="form-group">
            <label>Group Path</label>
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">https://gitlab.com/</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="group.gr.path" placeholder="Path" required>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" ng-model="group.gr.description" placeholder="Description">
          </div>

          <button type="submit" class="btn btn-primary" ng-click="group.add()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>

    </div>
  </div>
</div>