.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

/*      Self       */

body {
  background-color: #6699ff;
  padding-top: 70px;
}

.content {
  text-align: center;
}

.box {
  position: relative;
  overflow: scroll;
}