<div class="row">
  <div class="col-xs-offset-9">
    <button class="btn btn-default" ng-click="project.list()">List</button>
    <button class="btn btn-default" ui-sref="groups">Groups</button>
    <button class="btn btn-default" data-toggle="modal" data-target="#addForm">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

<!-- <div class="list-group"> -->
  <div ng-repeat="pro in project.projects">
    <!-- <div class="list-group-item well"> -->
    <div class="row well">
      <!-- button for showing and hidding project info -->
      <div class="col-xs-2 content">
        <button class="btn btn-error" ng-click="project.remove($index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="btn btn-default" ng-click="project.toggle()">
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
      </div>
      <div class="col-xs-2 content">{{pro.name}}</div>
      <div class="col-xs-4 content">{{pro.name_with_namespace}}</div>
      <div class="col-xs-2 content">{{ project.perms(pro.visibility_level) }}</div>
    </div>
  </div>
<!-- </div> -->



<!-- Modal -->
<div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="addFormLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Project</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Project Name</label>
            <input type="text" class="form-control" ng-model="project.pr.name" placeholder="Name" required>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" ng-model="project.pr.description" placeholder="Description">
          </div>

          <div class="radio">
            <label>
              <input type="radio" ng-model="project.pr.visibility_level" value="0" checked>
              Private
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" ng-model="project.pr.visibility_level" value="10">
              Internal
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" ng-model="project.pr.visibility_level" value="20">
              Public
            </label>
          </div>

          <button type="submit" class="btn btn-primary" ng-click="project.add()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>

    </div>
  </div>
</div>